/* navbar.module.css */
.tab {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #567daa; /* Custom underline color */
  transition: width 0.3s ease-in-out;
}

.tab:hover::after,
.tab-selected::after {
  width: 100%;
}
